* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffe3e3;
  color: #343a40;
  font-family: "Inter", sans-serif;
}

header {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
  padding: 10px;
}

.category {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding-left: 20px;
}

.category p {
  font-size: 20px;
  font-weight: bold;
}

#topics {
  padding: 5px 10px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
}

.quotes-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50vw;
  height: 40vh;
  margin-top: 80px;
  font-size: 28px;
  line-height: 1.5;
  font-weight: bold;
  overflow: auto;
}

.author {
  font-size: 16px;
  font-weight: 400;
  margin-right: 30px;
  margin-left: auto;
  margin-top: 20px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}
#button {
  background-color: #1c7ed6;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
}

@media screen and (max-width: 750px) {
  .quotes-container {
    width: 80vw;
    height: 100vw;
    margin-top: 50px;
    font-size: 28px;
  }
}
